services:
  db:
    image: postgres:16.1-alpine
    container_name: postgres-db
    restart: always
    env_file:
      - .env
    healthcheck:
      test: [ "CMD-SHELL", "pg_isready -U ${POSTGRES_USER}" ]
      interval: 10s
      timeout: 5s
      retries: 5
      start_period: 10s
    volumes:
      - postgres-db-data:/var/lib/postgresql/data
      - ./data-samples/init-databases.sh:/docker-entrypoint-initdb.d/init-databases.sh

  pgadmin:
    image: dpage/pgadmin4
    container_name: pgadmin
    restart: always
    env_file:
      - .env
    depends_on:
      db:
        condition: service_healthy
    volumes:
      - ./pgadmin/pgadmin_setup.json:/pgadmin4/servers.json:ro

  redis:
    image: redis:alpine
    container_name: redis
    restart: always
    environment:
      ALLOW_EMPTY_PASSWORD: yes
      REDIS_DISABLE_COMMANDS: FLUSHDB, FLUSHALL
    depends_on:
      db:
        condition: service_healthy

  redis-insight:
    image: redis/redisinsight:2.70
    container_name: redis-insight
    restart: always
    environment:
      RI_APP_HOST: "0.0.0.0"
      RI_REDIS_HOST: "redis"
      RI_REDIS_PORT: "6379"
      RI_PROXY_PATH: "/redis-insight"
    depends_on:
      redis:
        condition: service_started

  user-service:
    build: ./src/user-service/
    container_name: user-service
    hostname: user-service
    restart: on-failure
    env_file:
      - .env
    environment:
      DB_HOST: db
      SPRING_PROFILES_ACTIVE: prod
      REDIS_HOST: redis
      REDIS_PORT: 6379
    healthcheck:
      test: [ "CMD", "curl", "-f", "http://localhost:8080/actuator/health" ]
      interval: 10s
      timeout: 5s
      retries: 5
    depends_on:
      db:
        condition: service_healthy

  comment-service:
    build: ./src/comment-service/
    container_name: comment-service
    hostname: comment-service
    restart: on-failure
    env_file:
      - .env
    environment:
      DB_HOST: db
      SPRING_PROFILES_ACTIVE: prod
      REDIS_HOST: redis
      REDIS_PORT: 6379
    healthcheck:
      test: [ "CMD", "curl", "-f", "http://localhost:8080/actuator/health" ]
      interval: 10s
      timeout: 5s
      retries: 5
    depends_on:
      db:
        condition: service_healthy

  image-service:
    build: ./src/image-service/
    container_name: image-service
    hostname: image-service
    restart: on-failure
    env_file:
      - .env
    environment:
      DB_HOST: db
      SPRING_PROFILES_ACTIVE: prod
      REDIS_HOST: redis
      REDIS_PORT: 6379
    healthcheck:
      test: [ "CMD", "curl", "-f", "http://localhost:8080/actuator/health" ]
      interval: 10s
      timeout: 5s
      retries: 5
    depends_on:
      db:
        condition: service_healthy

  gateway-service:
    build: ./src/gateway-service/
    container_name: gateway-service
    hostname: gateway-service
    restart: on-failure
    env_file:
      - .env
    environment:
      SPRING_PROFILES_ACTIVE: prod
    healthcheck:
      test: [ "CMD", "curl", "-f", "http://localhost:8080/actuator/health" ]
      interval: 10s
      timeout: 5s
      retries: 5
    depends_on:
      user-service:
        condition: service_healthy
      comment-service:
        condition: service_healthy
      image-service:
        condition: service_healthy

  nginx-gateway:
    image: nginx
    container_name: nginx-gateway
    restart: always
    ports:
      - "443:443"
    depends_on:
      gateway-service:
        condition: service_healthy
    volumes:
      - ./nginx/nginx.conf:/etc/nginx/nginx.conf:ro
      - ./nginx/ssl:/etc/nginx/ssl:ro

  prometheus:
    image: prom/prometheus:latest
    container_name: prometheus
    volumes:
      - ./prometheus/prometheus.yml:/etc/prometheus/prometheus.yml

  grafana:
    image: grafana/grafana:latest
    container_name: grafana
    environment:
      - GF_SECURITY_ADMIN_USER=admin
      - GF_SECURITY_ADMIN_PASSWORD=admin
      - GF_SERVER_DOMAIN=picture.ru
      - GF_SERVER_ROOT_URL=%(protocol)s://%(domain)s:%(http_port)s/grafana/
      - GF_SERVER_SERVE_FROM_SUB_PATH=true
    volumes:
      - ./grafana/provisioning/:/etc/grafana/provisioning/:ro
    depends_on:
      prometheus:
        condition: service_started

  zookeeper:
    image: confluentinc/cp-zookeeper:7.9.0
    hostname: zookeeper
    container_name: zookeeper
    restart: always
    environment:
      ZOOKEEPER_CLIENT_PORT: 2181
      ZOOKEEPER_TICK_TIME: 2000

  broker1:
    image: confluentinc/cp-kafka:7.9.0
    hostname: broker1
    container_name: broker1
    environment:
      KAFKA_BROKER_ID: 1
      KAFKA_ZOOKEEPER_CONNECT: 'zookeeper:2181'
      KAFKA_LISTENER_SECURITY_PROTOCOL_MAP: PLAINTEXT:PLAINTEXT,PLAINTEXT_HOST:PLAINTEXT
      KAFKA_ADVERTISED_LISTENERS: PLAINTEXT://broker1:29092,PLAINTEXT_HOST://localhost:9092
      KAFKA_DEFAULT_REPLICATION_FACTOR: 2
      KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: 2
      KAFKA_GROUP_INITIAL_REBALANCE_DELAY_MS: 0
      KAFKA_JMX_PORT: 9101
      KAFKA_JMX_HOSTNAME: localhost
    depends_on:
      zookeeper:
        condition: service_started

  broker2:
    image: confluentinc/cp-kafka:7.9.0
    hostname: broker2
    container_name: broker2
    environment:
      KAFKA_BROKER_ID: 2
      KAFKA_ZOOKEEPER_CONNECT: 'zookeeper:2181'
      KAFKA_LISTENER_SECURITY_PROTOCOL_MAP: PLAINTEXT:PLAINTEXT,PLAINTEXT_HOST:PLAINTEXT
      KAFKA_ADVERTISED_LISTENERS: PLAINTEXT://broker2:29093,PLAINTEXT_HOST://localhost:9094
      KAFKA_DEFAULT_REPLICATION_FACTOR: 2
      KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: 2
      KAFKA_GROUP_INITIAL_REBALANCE_DELAY_MS: 0
      KAFKA_JMX_PORT: 9103
      KAFKA_JMX_HOSTNAME: localhost
    depends_on:
      zookeeper:
        condition: service_started

  kafka-ui:
    image: provectuslabs/kafka-ui:latest
    container_name: kafka-ui
    environment:
      KAFKA_CLUSTERS_0_NAME: 'local-kafka'
      KAFKA_CLUSTERS_0_BOOTSTRAPSERVERS: 'broker1:29092, broker2:29093'
      SERVER_SERVLET_CONTEXT_PATH : /kafka-ui
    depends_on:
      - broker1
      - broker2

volumes:
  postgres-db-data: